body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
    font-family: "clearsans-Bold";
    src: url("../src/assets/fonts/ClearSans-Bold.ttf");
}
.clearsans-bold{
  font-family: "clearsans-Bold"
}

@font-face {
    font-family: "clearsans-Regular";
    src: url("../src/assets/fonts/ClearSans-Regular.ttf");
}
.clearsans-regular{
  font-family: "clearsans-Regular"
}
